#author {
    display: flex;
    flex-direction: column;
    select {
        margin: 10px auto;
        background-color: $pallate1;
        color: $pallate5;
        width: 60vw;
        height: 50px;
        font-size: 18px;
        padding-left: 20px;
        outline: none;
        border: none;
        border-radius: 20px;
        @include mediaQuery (768px) {
            width: 70vw;
        }
        @include mediaQuery (640px) {
            width: 80vw;
        }
        option {
            padding: 10px;
            font-family: $font-family1;
            border-bottom: $pallate4 1px solid;
            color: $pallate5;
            cursor: pointer;
            &:hover {
                background-color: $pallate5;
                color: $pallate2;
            }
        }
    }
    .books-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    @import "../components/book.scss";
}