#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 100%;
    }
    h1 {
        font-family: $fnt-curs;
        color: $fnt-brown;
    }
    .books {
        max-width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
        @import "../components/book.scss";
    }
}