@import "../mixin.scss";

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    .cover {
        width: 100vw;
        height: 500px;
        background-color: $pallate4;
    }
    h1 {
        font-family: $font-family1;
        color: $pallate1;
    }
    .books {
        max-width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
        @import "../components/book.scss";
    }
}