@import "../mixin.scss";

#nationality {
    margin: 20px 0 0 5px;
    display: flex;
    select {
        position: fixed;
        background-color: #331602;
        color: #faebd7;
        width: 200px;
        outline: none;
        border: none;
        margin-top: 10px;
        @include mediaQuery(450px) {
            width: 170px;
        }
        &::-webkit-scrollbar {
            width: 0;
        }
        option {
            padding: 10px;
            font-family: $fnt-curs;
            border-bottom: #91725b 1px solid;
            color: #faebd7;
            cursor: pointer;
            &:hover {
                background-color: #faebd7;
                color: $fnt-brown;
            }
        }
    }
    .books-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 220px;
        @include mediaQuery(450px) {
            margin-left: 170px;
        }
    }
    .book {
        text-align: center;
        width: 200px;
        margin: 10px;
        height: 360px;
        cursor: pointer;
        background-color: #ffe4c4;
        @include mediaQuery(450px) {
            width: 160px;
        }
        &:hover {
            background-color: #fcd8ad;
        }
        p {
            color: $fnt-brown;
        }
        img {
            width: 120px;
            height: 180px;
            margin-top: 20px;
        }
        p:nth-child(2) {
            font-weight: bold;
            font-size: 18px;
        }
        p:nth-child(3) {
            font-family: $fnt-curs;
        }
        p:nth-child(4) {
            font-family: $fnt-curs;
            color: #008000;
            span {
                color: #ff0000;
                text-decoration: line-through;
                font-style: italic;
            }
        }
    }
}