.book {
    text-align: center;
    min-width: 220px;
    width: 220px;
    margin: 10px;
    min-height: 270px;
    cursor: pointer;
    background-color: $pallate1;
    &:hover {
        background-color: $pallate4;
        p {
            color: $pallate1;
        }
    }
    p {
        color: $pallate5;
    }
    img {
        width: 120px;
        height: 180px;
        margin-top: 20PX;
    }
    p:nth-child(2) {
        font-weight: bold;
        font-size: 18px;
    }
    p:nth-child(3) {
        font-family: $font-family1;
    }
    p:nth-child(4) {
        font-family: $font-family1;
        font-style: italic;
    }
}