@import "../mixin.scss";
@import "../variables.scss";

.footer {
    background-color: $pallate3;
    text-align: center;
    img {
        cursor: pointer;
        width: 150px;
        padding: 10px 80px;
    }
}