#footer {
    background-color: #5e270a;
    height: 150px;
    display: flex;
    justify-content: center;
    img {
        cursor: pointer;
        width: 150px;
        margin-top: 5px;
        padding: 10px 20px;
        border-radius: 30px;
        &:hover {
            background-color: #77523e;
        }
    }
}