#header {
    background-color: #5e270a;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 40px;
        border-radius: 5px;
        color: #b89b8c;
        &:hover {
            background-color: #41291f;
        }
    }
    input {
        background-color: #faebd7;
        height: 30px;
        width: 700px;
        outline: none;
        border-radius: 5px;
        border: none;
        color: #3f1905;
        font-size: 14px;
        &::placeholder {
            text-align: center;
            font-size: 16px;
        }
    }
}