#header {
    position: sticky;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    height: 50px;
    background-color: $pallate3;
    @include mediaQuery (640px) {
        position: fixed;
        top: unset;
        bottom: 0;
        width: 100%;
    }
    a {
        text-decoration: none;
        position: relative;
        font-family: $font-family1;
        color: $pallate1;
        font-size: 20px;
        letter-spacing: 1px;
        img {
            width: 25px;
            margin-right: 5px;
        }
        &::after {
            content: "";
            position: absolute;
            background-color: $pallate1;
            width: 0;
            height: 2px;
            left: 50%;
            top: 25px;
            transition: width 0.25s, left 0.25s;
        }
        &:hover {
            &::after {
                width: 100%;
                left: 0;
            }
        }
        &:active {
            color: $pallate3;
        }
        @include mediaQuery (640px) {
            img {
                width: 30px;
            }
            span {
                display: none;
            }
            &::after {
                top: 35px;
            }
        }
    }
}