@import "../mixin.scss";

#sidenav {
    background-color: #3f1905;
    position: fixed;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    @include mediaQuery(950px) {
        width: 0;
    }
    a:nth-child(1) {
        margin-top: 70px;
    }
    a {
        color: #b89b8c;
        font-size: large;
        text-decoration: none;
        margin: 20px 0 0 5px;
        padding: 12px;
        border-radius: 30px 0 0 30px;
        &:hover {
            background-color: #cfb59c;
            color: $fnt-brown;
        }
    }
}