@import "../mixin.scss";

#sidenav {
    background-color: #3f1905;
    position: fixed;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    @include mediaQuery(900px) {
        width: 0;
    }
    a:nth-child(1) {
        margin-top: 70px;
    }
    a {
        color: #b89b8c;
        font-size: large;
        text-decoration: none;
        margin-top: 20px;
        padding: 10px;
        &:hover {
            background-color: #41291f;
        }
    }
}