@import "./mixin.scss";
@import "./variables.scss";

body {
    margin: 0;
    padding: 0;
    background-color: #cfb59c;
}

#layout {
    display: flex;
    @import "./components/sidenav.scss";
    #content {
        margin-left: 200px;
        @include mediaQuery(950px) {
            margin-left: 0;
        }
        width: 100vw;
        @import "./components/header.scss";
        #pages {
            min-height: 100vh;
            @import "./pages/index.scss";
        }
        @import "./components/footer.scss";
    }
}