body {
    margin: 0;
    padding: 0;
}

#layout {
    display: flex;
    @import "./components/sidenav.scss";
    #content {
        margin-left: 250px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        @import "./components/header.scss";
        #pages {
            background-color: #cfb59c;
            @import "./pages/index.scss";
        }
        @import "./components/footer.scss";
    }
}